$font-stack: 'Open Sans', sans-serif;
$font-title: 'Red Hat Display', sans-serif;

//Colors -- Page
$light-white: #FFFFFF;
$search-background: #F3F3F3;
$label-color: #999999;
$button-color: #FF0404;

//Colors -- Modal
$regular-color: #00a800;
$premium-color: #acac20;
$light-gray: #f0f0f0;
$dark-gray: #c0c0c0;