@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Red+Hat+Display&family=Sarala:wght@700&display=swap");
.hotel-results {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 1;
}

.card-hotel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30rem;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
}

.card-hotel .flag {
  position: absolute;
  top: 3rem;
  right: -.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: .1rem;
  border-radius: .5rem 0 0 1.5rem;
}

.card-hotel .flag.regular {
  background-color: #00a800;
}

.card-hotel .flag.premium {
  background-color: #acac20;
}

.card-hotel .card-image {
  min-height: 20rem;
  width: 100%;
  margin: 0 0 1rem;
  background: url("../images/hotel-fallback.jfif") no-repeat;
  background-size: cover;
  border-radius: 1rem;
}

.card-hotel .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.card-hotel .card-content .card-title {
  font-size: 1.8rem;
}

.card-hotel .card-content .rating-container {
  overflow: hidden;
}

.card-hotel .card-content .rating-container .rating {
  width: 8rem;
}

.card-hotel .card-content .plan-table {
  margin: 2rem 0;
  font-size: 1.3rem;
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
}

.card-hotel .card-content .plan-table th {
  padding: 0.7rem;
  font-weight: 400;
  background: #f0f0f0;
  border: 1px solid #c0c0c0;
}

.card-hotel .card-content .plan-table td {
  padding: 0.7rem;
  border: 1px solid #c0c0c0;
}

.card-hotel .card-content .plan-table .table-price {
  font-weight: 700;
  color: #00a800;
}

.card-hotel .card-content .card-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.7rem;
  font-weight: bold;
  background: #f0f0f0;
  border-radius: 1rem;
}

.card-hotel .card-content .card-total .total {
  margin-right: 0.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  font-size: 1.4rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 2rem 1rem 0;
  background: url("../images/header-background.png");
  background-size: cover;
}

.page-header__title {
  margin: 0 0 5rem;
  font: 5rem "Red Hat Display", sans-serif;
  text-align: center;
  color: #FFFFFF;
  -webkit-filter: drop-shadow(0 0 10px black);
          filter: drop-shadow(0 0 10px black);
}

.page-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding: 2.5rem 2rem;
  background: #F3F3F3;
  border-radius: 2rem;
}

.page-header__search * {
  cursor: pointer;
}

.page-header__search .date-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header__search .date-container .field-container:first-child {
  border-right: 2px solid #F3F3F3;
}

.page-header__search .date-container .field-container {
  width: 50%;
}

.page-header__search .field-container {
  position: relative;
  margin: 1rem 0;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

.page-header__search .field-container label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0.5rem;
  left: 0.8rem;
  color: #999999;
}

.page-header__search .label-plan::after {
  content: '';
  display: inline-block;
  margin-left: .5rem;
  width: 1.2rem;
  height: 1.2rem;
  background: url("../images/user-solid.svg") no-repeat;
}

.page-header__search .label-start::after {
  content: '';
  display: inline-block;
  margin-left: .5rem;
  width: 1.2rem;
  height: 1.2rem;
  background: url("../images/suitcase-rolling-solid.svg") no-repeat;
}

.page-header__search .label-end::after {
  content: '';
  display: inline-block;
  margin: .3rem 0 0 .5rem;
  width: 1.2rem;
  height: 1.2rem;
  background: url("../images/plane-departure-solid.svg") no-repeat;
}

.page-header__search .form-field {
  height: 5rem;
  padding: 2rem 0 0 .5rem;
  width: 100%;
}

.page-header__search .submit-button {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem 3rem;
  margin-top: 1rem;
  color: #FFFFFF;
  background-color: #FF0404;
  border-radius: 1rem;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2));
}

@media screen and (min-width: 768px) {
  .page-header {
    padding: 10rem 1rem 0;
  }
  .page-header__search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 2.5rem 4rem;
  }
  .page-header__search .date-container {
    width: 40%;
  }
  .page-header__search .field-container {
    width: 20%;
    margin: 0;
  }
  .page-header__search .submit-button {
    margin: 0;
  }
}
/*# sourceMappingURL=styles.css.map */